@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(137, 209, 137, 0.473);
}

h1 {
  text-align: center;
  font-family: "Cookie", cursive;
}
h1 span {
  color: rgb(58, 204, 58);
}

h2 {
  font-family: cursive;
  border-bottom: black 2px solid;
}
p {
  margin-top: 10px;
  font-family: "Cedarville Cursive", cursive;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 20px;
}

img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  border: 4px solid rgba(28, 170, 28, 0.596);
}

.columns {
  display: flex;
  margin: 1em 0;
  justify-content: space-between;
  border: 1px solid black;
}

.col {
  border: 1px solid rgb(107, 107, 9);
  padding: 20px;
}

.col-bg {
  background-color: rgb(22, 59, 22);
  color: rgba(255, 255, 255, 0.712);
  padding: 1em;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

footer {
  position: fixed;
  opacity: 0.6;
  text-align: right;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-family: monospace;
  font-size: 13px;
}

@media (min-width: 1px) and (max-width: 400px) {
  body {
    background-color: rgba(224, 224, 97, 0.61);
  }
  footer p,
  h1 span {
    color: rgba(196, 196, 71, 0.911);
  }
  .col-bg {
    background-color: rgba(100, 100, 27, 0.918);
  }
  .columns {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
  .col {
    padding: 0;
  }
  img {
    border: 4px solid rgba(100, 100, 27, 0.918);
  }
}
@media (min-width: 401px) and (max-width: 700px) {
  body {
    background-color: rgba(97, 120, 224, 0.61);
  }
  footer p,
  h1 span {
    color: rgba(52, 74, 172, 0.808);
  }
  .col-bg {
    background-color: rgba(21, 32, 80, 0.925);
  }
  .columns {
    flex-direction: column;
  }
  .col-1,
  .col-2,
  .col-3 {
    width: 97.8%;
  }
  .col {
    padding: 5px;
  }
  .container {
    max-width: 800px;
  }
  img {
    border: 4px solid rgba(21, 32, 80, 0.925);
  }
}
@media (min-width: 701px) and (max-width: 900px) {
  body {
    background-color: rgba(224, 97, 213, 0.61);
  }
  footer p,
  h1 span {
    color: rgba(182, 45, 171, 0.849);
  }
  .col-bg {
    background-color: rgba(82, 23, 77, 0.897);
  }
  img {
    border: 4px solid rgba(82, 23, 77, 0.897);
  }
}
